.page-wrapper {
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.hero, .languages {
    scroll-snap-align: start;
    height: 100vh; 
    width: 100%;
    overflow: hidden;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero h1, .hero button {
    border-radius: var(--radius-large);
    padding: 0.3em;

}

.hero h1{
    font-size: 7em;
    border: 10px solid #AA3CC2;
}

.hero button {
    font-size: 3em;
    background-color: #6E6CE4;
    margin: 1.5em 0 0 2em;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    box-shadow: 0px 5px 50px #6E6CE4; /* Rode schaduw met hex code */
    scale: 1.1;
    rotate: 10deg;
    transition: 0.3s;
}

.hero-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.hero-arrow-container {
    width: 25%;
}

.hero-arrow-img {
    animation: arrow-floating-animation 2s infinite;
}

/* html tags easter eggs */


.html-tags {
    display: none;
    position: absolute;
    top: -10%;
    font-weight: bold;
    font-size: 30px;
    height: 100vh;
    width: 100%; 
    margin: 0;
    padding: 0;
}
.html-tags-rain {
    display: flex;
    flex-direction: column;
    animation: html-drop 2s cubic-bezier(0.1, -0.6, 0.2, 0) forwards;
}

.html-tags:first-of-type {
    left: 5%;
    color: #AA3CC2;
    
}

.html-tags:nth-of-type(2) {
    left: 12%;
    color: lime;
    animation-delay: 0.5s;
}

.html-tags:nth-of-type(3) {
    left: 24%;
    color: hotpink;
    animation-delay: 1s;
}

.html-tags:nth-of-type(4) {
    left: 36%;
    color: lightskyblue;
    animation-delay: 1.2s;
}

.html-tags:nth-of-type(5) {
    left: 54%;
    color: red;
    animation-delay: 1.6s;
}

.html-tags:nth-of-type(6) {
    left: 67%;
    color: yellow;
    animation-delay: 2s;
}

.html-tags:nth-of-type(7) {
    left: 87%;
    color: orange;
    animation-delay: 2.2s;
}

@keyframes html-drop {

    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(100%);
    }

    70%{
        transform: translateY(70%);
    }

    80% {
        transform: translateY(100%);
        scale: 0.8;
    }

    90% {
        transform: translateY(80%);
}

95% {
    transform: translateY(100%);

}

98% {
    transform: translateY(90%);
}

    100% {
        transform: translateY(95%);
    }
}

/* Languages */

.languages {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centreert de inhoud horizontaal */
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.language-title {
    font-size: 3em;
       margin-bottom: 1em;
}

.languages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Zorg ervoor dat de secties onder elkaar komen bij kleinere schermen */
    width: 100%; /* Zorg ervoor dat de container de volledige breedte gebruikt */
    justify-content: center;
}

.languages-html, .languages-css, .languages-js, .languages-node, .languages-php, .languages-mysql {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 2px black;
    border-radius: 20px;
    height: 50vh;
    width: 15%;
    background-color: darkslategray;
    opacity: 20%;
    transition: 0.7s ease;
    margin: 0.5em;
animation: languages-fade-in 0.2s ease-in;
}

.languages-mysql {
    border-right: none;
}

.languages-html:hover {
    background-color: orange;
    color: black;
    box-shadow: 0 10px 50px orange;
    opacity: 100%;

}

.languages-css:hover {
    background-color: rgb(0, 106, 255);
    color: black;
    box-shadow: 0px 10px 50px rgb(0, 106, 255);
    opacity: 100%;
}

.languages-js:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0px 10px 50px yellow;
    opacity: 100%;
}

.languages-node:hover {
    background-color: greenyellow;
    color: black;
    box-shadow: 0px 10px 50px greenyellow;
    opacity: 100%;
}

.languages-php:hover {
    background-color: #6E6CE4;
    color: black;
    box-shadow: 0px 10px 50px #6E6CE4;
    opacity: 100%;
}

.languages-mysql:hover {
    background-color: lightblue;
    color: black;
    box-shadow: 0px 10px 50px lightblue;
    opacity: 100%;
}

.html-popup{
    display: none;
}

.languages-active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4em;
    width: 75vw;
    height: 75vh;
    margin: auto;
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background-color: black;
    border: 10px solid orange;
    color: orange;
    opacity: 100%;
}

@keyframes arrow-floating-animation {
    0% {
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(-20%);
    }
}


@keyframes languages-fade-in {
0% {
transform: translateY(-30%);
opacity: 0;
}

100% {
    transform: translateY(0);
    opacity: 20%;
}
}
.html-content {
display: none;
}


.language-text {
    margin-top: 2em;
    width: 90%;
    text-align: center;
    line-height: 1.2em;
}