* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Default settings  */
:root {
  /* ===== Colors ===== */
  --body-color: black;
  --text-color: #fff;


  /* ===== Borders ===== */
  --button: 4px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 120px;
  --radius-extra-large: 16px;

  
  
  /* Default font settings */
  h1, h2, p, button {
    color: var(--text-color);
  }

  /* Default text size */
  h2 {
    font-size: 3em;
  }

  p, button {
    font-size: 2em;
  }
}

/* Default body styling */
  body {
  background-color: var(--body-color);
  color: var(--text-color);
  }


