* {
    margin: 0;
    padding: 0;
}

:root{
        /* ===== Colors ===== */
        --body-color: black;
        --text-color: #fff;
      
        /* ====== Transition ====== */
        --tran-03: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.3s ease;
        --tran-05: all 0.5s ease-in-out;
        
        /* Spacing */
     --none: 0px;
     --extra-small:  4px;
     --small: 8px;
     --medium: 16px;
     --large: 32px;
     --extra-large: 64px;
     --extra-extra-large: 128px;
     --buttons:  8px 16px;
   
     /* Borders */
     --button: 4px;
     --radius-small: 4px;
     --radius-medium: 8px;
     --radius-large: 120px;
     --radius-extra-large: 16px;
   
     /* default font */
     font-family: Arial, Helvetica, sans-serif;  
  }


  body {
background-color: var(--body-color);
color: var(--text-color);
  }

  h2 {
    font-size: var(30em);
  }

